.task-header {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
}
.task-header.true {
  text-decoration: line-through;
}

.character-header.false {
  text-decoration: none;
}

.todoForm {
  display: grid;
  justify-content: center;
  margin-top: 20%;
}
